* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .menu-1,
  .menu-2,
  .menu-3 {
    position: absolute;
    width: 14.51%;
    top: 0;
    right: 85.49%;
    left: 0;
    background-color: thistle;
    height: 4.25rem;
    overflow: hidden;
  }
  .menu-2,
  .menu-3 {
    width: 68.27%;
    right: 17.22%;
    left: 14.51%;
    background-color: cornflowerblue;
  }
  .menu-3 {
    width: 17.22%;
    right: -17.22%;
    left: 100%;
    background-color: mediumslateblue;
  }
  .menu-superior {
    align-self: stretch;
    position: relative;
    height: 4.31rem;
  }
  .frame,
  .image,
  .menu-superior {
    overflow: hidden;
    flex-shrink: 0;
  }
  .image {
    position: relative;
    width: 78.63rem;
    height: 22.88rem;
    
  }
  .frame {
    width: 100vw; /* Set the width to 100% of the viewport width */
    max-width: 100%; /* Ensure the width does not exceed 100% */
    height: 39.56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #fef7b3, #d0afad);
  }
  .bg {
    position: relative;
    background-color: white;
    box-shadow: 0 4px 30px rgb(131 105 105 / 26%);
    width: 80vw; /* Set the width to 80% of the viewport width */
    height: 100vw;
    margin-top: -35rem;
    padding: 25px;
  }
  .bsqueda-avanzada,
  .content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .content {
    width: 100%;
    height: 200%;
    flex-shrink: ;
    margin-top: 0rem;
  }
  .bsqueda-avanzada {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 66.44rem;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    border: solid;
    box-shadow: 0 2px 30px 0 rgb(195 155 155 / 34%);
    border-color: #e7e5dd;
    border-width:1px;
    transition: box-shadow 600ms, border-color 100ms;
    transition-timing-function: ease-in-out;
  }

  input:hover,
  textarea:hover {

    box-shadow: 0 2px 30px 0 rgb(159 132 123 / 58%);
    border-color: #b5a7a7;
    transition: box-shadow 500ms, 400ms, border-color 500ms;
    transition-timing-function: ease-in-out;
  }
  
  input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    background-color: #edbb0a;
    color: white;
    border: solid;
    border-color: transparent;
    cursor: pointer;
    border-radius: 25px;
  }

  input[type="submit"]:hover {
      background-color: #ffffff;
      border: solid;
      color: #edbb0a;
      transition: box-shadow 500ms, background-color 400ms, border-color 500ms;
      transition-timing-function: ease-in-out;
      box-shadow: 0 4px 30px 0 rgb(255 178 27 / 53%);
  }

  @media screen and (max-width: 600px) {
    .bg {
      width: 100%; /* Change the width to 100% on screens smaller than 600 pixels */
      height: 100%;
      padding: 40px;
      box-shadow:none;
    }
    .column.left{
      width:100%;
    }
    .column.right{
      width:100%
    }
    .in.left{
      height:20vw;
      width:80vw;
    }
  
  }